.col-md-4{
	margin-top: 2%;
}

.container{
	margin-top: 6%;
	/* border: 1px solid ; */
}

#singlebutton{
	margin:  7% 0% 2% 0%;
}
#adddepartement{
	margin:  7% 0% 2% 0%;

}
/* .section2{
	visibility: hidden;
} */
.description{
	width: 60%;
}

section{
	height: 100vh;
}
#section2{
	display: none;
}
.insection2{
	padding: 6%;
}

